# Ignore build artifacts and directories for C++ projects
build/
.vscode/
*.o
*.a
*.so

# Ignore CMake build files
CMakeFiles/
CMakeCache.txt

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

